<div class="container border border-dark">
  <h2 class="text-center" style="padding-top: 2em"> Project Manger</h2>
  <div class="row" style="padding-top: 2em">
    <div class="col col-3 text-center">
      <a href="#" (click)="openProject()" class="font-weight-bold">Add Project</a>
    </div>
    <div class="col col-3 text-center">
      <a href="#" (click)="openTask()" class="font-weight-bold">Add Task</a>
    </div>
    <div class="col col-3 text-center">
      <a href="#" (click)="openUser()" class="font-weight-bold">Add User</a>
    </div>
    <div class="col col-3 text-center">
      <a href="#" (click)="viewTask()" class="font-weight-bold">View Task</a>
    </div>
  </div>
  <div style="padding: 1em">
    <app-adduser *ngIf=addUser></app-adduser>
  </div>
  <div style="padding: 1em">
    <app-addproject *ngIf=addProject></app-addproject>
  </div>
  <div style="padding: 1em">
    <app-addtask *ngIf=addTask></app-addtask>
  </div>

</div>

